@model EnF.Page

@{
    ViewBag.Title = "Thêm tin";
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "GroupNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Tiêu đề", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        @Html.Hidden("Pos",0)

        @*<div class="form-group">
            @Html.Label("Vị trí", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Pos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pos)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm tin" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   
}


