@model IEnumerable<EnF.UserRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="panel panel-primary color noneborder">
    <div class="panel-heading colortheme noneborder">
        <div class="titletable">@ViewBag.Title </div>
        <ul class="list-unstyled menu">

            <li>
                <i class="fa fa-plus-square-o"></i>
                @Html.ActionLink("Thêm mới", "Create")

            </li>



            <li>
                <a href="#" onclick="ReloadCurrentPage()">
                    <i class="fa fa-refresh"></i> Nạp lại
                </a>
            </li>



        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @(item.Role==1?"Admin":"User")
                    </td>

                    <td>
                      
                        @Html.ActionLink("Sửa", "Edit", new { id = item.UserId })||
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>