
@using EnF
@{
    Config config = new DoGoMyNgheEntities().Configs.First();
    Layout = null;
    var slide = (List<ADV>)ViewBag.slide;
    var listslidetop = new DoGoMyNgheEntities().ADVs.Where(p => p.Type == 1).ToList();
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@config.PageTitle</title>
    <meta name="keywords" content="@config.Keyword" />
    <meta name="description" content="@config.Description" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min">

    <script src="~/js/jquery-3.1.0.min.js"></script>
  
    <script src="~/js/jquery.bxslider.js"></script>
    <link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <script src="~/js/jquery.bxslider.min.js"></script>
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    

    <script src="~/js/bootstrap.min.js"></script>
    <link href="font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" />


</head>
<body>
    @*ng-app="myApp"*@


 
            @Html.Partial("_PartialHeader")

            <!-- Phần index -->

            <div class="wapper">
                <div class="container">
                    
                        @RenderBody()

                </div>
            </div>

          

 
    @Html.Partial("_PartialFooter")



    @RenderSection("scripts", required: false)
    @*<script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>*@
 


</body>
</html>
