@using EnF
@{

    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    int idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["listNewFooter"]);
    List<EnF.Page> lstPage = db.Pages.Where(p => p.PageId == idKey).ToList();
    List<EnF.Page> lstTempPage = new List<EnF.Page>();

    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["huongDanMua"]);
    lstTempPage = db.Pages.Where(p => p.PageId == idKey).ToList();
    Int64 huongDanMua = idKey;// lstTempPage.Count() > 0 ? lstTempPage.First().PageId : 0;


    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["huongThanhToan"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 huongThanhToan = idKey;//lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;

    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["chinhSachVanChuyen"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 chinhSachVanChuyen = idKey;//lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;

    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["quydinhDoiTra"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 quydinhDoiTra = idKey;//lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;

    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["CamKetQuyDinh"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 camketvaQuyDinhChung = idKey;//lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;

    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["BaoMatThongTin"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 baomatThongTin =  idKey;//lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;
    //EnF.Page CamKetQuyDinh = lstPage.Where(p => p.PageId == Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["CamKetQuyDinh"])).First();
    //EnF.Page BaoMatThongTin = lstPage.Where(p => p.PageId == Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["BaoMatThongTin"])).First();

}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=2020275718255025';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Footer -->
<footer>
    <div class="menu-footer">
        <ul>
            <li>
                <a href="@(huongDanMua!=0? "/Home/NewsDetail?pageId="+huongDanMua:"#")">
                    Hướng Dẫn Mua Hàng
                </a>
            </li>
            <li>
                <a href="@(huongThanhToan!=0? "/Home/NewsDetail?pageId="+huongThanhToan:"#")">

                    Hướng Dẫn Thanh Toán
                </a>
            </li>
            <li>
                <a href="@(chinhSachVanChuyen!=0? "/Home/NewsDetail?pageId="+chinhSachVanChuyen:"#")">

                    Chính Sách Vận Chuyển
                </a>
            </li>
            <li>
                <a href="@(quydinhDoiTra!=0? "/Home/NewsDetail?pageId="+quydinhDoiTra:"#")">
                    Quy Định Đổi Trả
                </a>
            </li>
            <li>
                <a href="@(camketvaQuyDinhChung!=0? "/Home/NewsDetail?pageId="+camketvaQuyDinhChung:"#")">
                    Cam Kết Và Quy Định Chung
                </a>
            </li>
            <li>
                <a href="@(baomatThongTin!=0? "/Home/NewsDetail?pageId="+baomatThongTin:"#")">
                    Bảo Mật Thông Tin
                </a>
            </li>

        </ul>
    </div>

    <div class="wap-footer">
        <div class="col-md-12" id="wapper-footer">
            <div class="col-md-4 for-lienhe">
                <div class="for-title">
                    <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
                </div>
                <div class="noidung">
                    <div class="tencty">
                        <h1>GỖ MỸ NGHỆ TÂY NGUYÊN ĐẠI NGHĨA</h1>
                    </div>
                    <div class="chitiet-lienhe">
                        <p><span class="glyphicon glyphicon-home"></span> 80 Nguyễn Tri Phương - Đà Nẵng</p>
                        <p><span class="glyphicon glyphicon-earphone"></span> 0949.739.888</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> gomynghedainghia@gmail.com</p>
                    </div>
                    <div class="intro">
                        <h1>GỖ MỸ NGHỆ ĐẠI NGHĨA GIAO HÀNG TẬN NƠI TRONG VÀ NGOÀI NƯỚC </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 for-thanhtoan">
                <div class="for-title">
                    <h1>THANH TOÁN</h1>
                </div>
                <div class="tt-thanhtoan">
                    <ul>
                        <li>
                            <span>Chủ tài khoản: Trần Thị Thùy Duyên</span>
                            <br>
                            <span>Ngân Hàng AGRIBANK</span>
                            <br>
                            <span>Số Tài Khoản: 200 020 614 2978</span>
                            <br>
                            <span>Ngân Hàng AGRIBANK Chi Nhánh Đà Nẵng</span>
                        </li>
                        <li>
                            <span>Chủ tài khoản: Trần Văn Mẫn</span>
                            <br>
                            <span>Ngân Hàng VietcomBank</span>
                            <br>
                            <span>Số Tài Khoản: 004 1000 273 136</span>
                            <br>
                            <span>Ngân Hàng VietcomBank Chi Nhánh Đà Nẵng</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 for-facebook">
                <div class="for-title">
                    <h1>KẾT NỐI VỚI CHÚNG TÔI</h1>
                </div>
                <div class="fanpage">
                    <div class="fb-page" data-href="https://www.facebook.com/gomynghedainghia/" data-width="400" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/gomynghedainghia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gomynghedainghia/">Gỗ Mỹ Nghệ Đà Nẵng Đại Nghĩa - Đồ Gỗ Tây Nguyên Cao Cấp</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
    <div class="creat-by">
        <p>© Bản quyền thuộc về Gỗ Mỹ Nghệ Đại Nghĩa |  <a href="">Cung cấp bởi H&T SOFT </a></p>
    </div>

    <div id="fb-root"></div>
    <script>$(document).ready(function () { var raido = $(".wrap").attr("data-toggle"); if (raido == 1) { $(".mnv-tuvan").css("display", "none"); $(".x").click(function () { $(".wrap").slideToggle(); $(".mnv-tuvan").slideToggle(); }); $(".mnv-tuvan").click(function () { $(".wrap").slideToggle(); $(this).slideToggle(); }); } else { $(".wrap").css("display", "none"); $(".x").click(function () { $(".wrap").slideToggle(); $(".mnv-tuvan").slideToggle(); }); $(".mnv-tuvan").click(function () { $(".wrap").slideToggle(); $(this).slideToggle(); }); } })(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=887080981367835"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "facebook-jssdk"));</script>
    <style>
        .wrap {
            position: fixed;
            width: 300px;
            height: 400px;
            z-index: 9999999;
            right: 0px;
            bottom: 0px;
        }

        .x {
            font-family: arial, helvetica;
            background: rgba(78,86,101,0.8) none repeat scroll 0 0;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            position: absolute;
            right: 0;
            text-align: center;
            top: -19px;
            width: 25px;
            z-index: 99999999;
        }

            .x:hover {
                cursor: pointer;
            }

        .pxem {
            text-align: left;
            height: 20px;
            margin-bottom: 0;
            margin-top: 0;
            background: #ffcc4e;
            width: 100%;
            bottom: 0;
            display: block;
            left: 0px;
            position: absolute;
            z-index: 999999999;
            border-left: 1px solid #fff;
        }

            .pxem a.axem {
                color: #fff;
                font-family: arial,helvetica;
                font-size: 12px;
                line-height: 23px;
                padding-left: 5px;
                text-decoration: none;
            }

                .pxem a.axem:hover {
                    text-decoration: underline;
                }

        .alogo {
            position: absolute;
            bottom: 0;
            right: 0px;
            z-index: 999999999999;
            width: 40px;
            height: 20px;
            display: inline-block;
            background: #0088b5;
            padding-right: 0px;
            padding-left: 5px
        }

        .mnv-tuvan {
            position: fixed;
            width: 300px;
            background: #ffcc4e;
            z-index: 99999999;
            right: 0px;
            bottom: 0px;
            border-style: solid solid none;
            border-width: 1px 1px 0;
            border-color: #fff
        }

            .mnv-tuvan p {
                color: #fff;
                font-size: 15px;
                margin: 0;
                padding: 0 13px;
                text-align: left;
            }

                .mnv-tuvan p a {
                    color: #fff;
                    font-size: 15px;
                    padding: 5px 0px 7px;
                    margin: 0;
                    display: inline-block;
                    font-family: arial, helvetica;
                    text-decoration: none;
                }

                    .mnv-tuvan p a:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                .mnv-tuvan p img {
                    float: right;
                    margin-top: 10px;
                }
    </style><div data-toggle="0" class="wrap" style="position:fixed; width:280px; height: 325px; "><span class="x" style="">X</span><div class="fb-page" data-adapt-container-width="true" data-height="325" data-hide-cover="false" data-href="https://www.facebook.com/gomynghedainghia/" data-show-facepile="true" data-show-posts="false" data-small-header="false" data-tabs="messages" data-width="280" style="position:relative; z-index:9999999; right:0px; bottom:21px;border-left: 1px solid #fff;border-top: 1px solid #fff;"></div><p class="pxem" style=""><a class="axem" style="" href=" http://gomynghedainghia.vn" target="_blank">Click Tư Vấn Ngay</a><a class="alogo" style=""><img src="http://pront04.web24h.vn/Uploaded/Members/9558/images/2015/11/logo-web.png" width="27px" height="14px" style="margin-top: 3px"></a></p></div><div class="mnv-tuvan" style="width: 278px;"><p style=" "><a style="">Bạn cần tư vấn ?</a><img src="http://pront04.web24h.vn/Uploaded/Members/9558/images/2015/11/supprt.png"></p></div>
</footer>

<!-- end footer -->