@using EnF
@using Web.Repository
@using baohiem.Models
@{
    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    //Config config = db.Configs.First();
    Layout = null;
    var listmenu = db.Menus.Where(p => p.ParentId == 0 || p.ParentId == null).ToList();
    //  var listslidetop = db.ADVs.Where(p => p.Type == 1).ToList();

    List<Category> categoryList = (List<Category>)db.Categories.ToList();
    List<Product> listprodct = new List<Product>();
    //List<ADV> slideList = (List<ADV>)ViewBag.Slide;
    List<ProductClass> lstProductClass = new List<ProductClass>();

    foreach (Category catg in categoryList)
    {
        ProductClass productClass = new ProductClass();
        productClass.category = catg;

        List<ProductGroupClass> lstProductGroupClass = new List<ProductGroupClass>();


        List<ProductGroup> lstpgp = db.ProductGroups.Where(c => c.CategoryId == catg.Id).ToList();
        foreach (ProductGroup prdgup in lstpgp)
        {
            ProductGroupClass productGroupBlock = new ProductGroupClass();
            productGroupBlock.productGroup = prdgup;

            //productGroupBlock.lstProduct = db.Products.Where(p => p.ProductGroupID == prdgup.ProductGroupId).ToList();

            lstProductGroupClass.Add(productGroupBlock);
        }
        productClass.lstproductGroupClass = lstProductGroupClass;

        lstProductClass.Add(productClass);
    }


}
<!-- start header -->
<!-- header -->

<header>
    <div id="wap-header">
        <div class="wap-content">
            <div class="header-content">
                <div class="logotop">
                    <a href="/">
                        <img src="/images/logo.png">
                    </a>
                </div>
                <div class="contact-top">
                    <div class="info-company">
                        <ul>
                            <li class="header-phone">
                                <p>
                                    <span class="glyphicon glyphicon-phone"></span>
                                    0949.739.888
                                </p>
                            </li>
                            <li class="header-mail">
                                <p>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    gomynghedainghia@gmail.com
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class=" header-share">
                        <div id="at4-share" class="at4-share addthis_32x32_style atss atss-left addthis-animated slideInLeft">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-google"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="wap-menu">
            <div id="header-menu">
                <div class="col-md-4 infologo">
                    <a href="/">
                        <img src="/images/infologo.png">
                    </a>
                </div>
                <div class="col-md-8 header-menu">
                    <nav id="menu">
                        <ul>
                            <li>
                                <a class="active" href="/">Trang Chủ</a>
                            </li>

                            <li>
                                <a class="" href="">Sản Phẩm</a>
                                <!--menu danh mục sản phẩm-->
                                <ul class="sub-menu">
                                    @foreach (ProductClass catg in lstProductClass)
                                    {
                                        List<ProductGroup> lstpgp = new List<ProductGroup>();
                                    <li>
                                        <a class="" href="">@catg.category.CategoryName</a>
                                        <!--menu danh sách nhóm sản phẩm-->
                                        <ul class="sub-menu2">
                                            @foreach (ProductGroupClass prdgup in catg.lstproductGroupClass)
                                                {
                                                <li>
                                                    <a class="" href="/Nhom-san-pham/@(ClearWordRepository.NoVNeseLower(string.IsNullOrEmpty(prdgup.productGroup.Name)?"a":prdgup.productGroup.Name )+"-"+prdgup.productGroup.ProductGroupId)">@prdgup.productGroup.Name</a>
                                                </li>
                                                }
                                        </ul>
                                    </li>
                                    }


                                </ul>
                            </li>

                            @foreach (Menu mn in listmenu)
                            {
                            <li>
                                <a class="" target="@(mn.IsNewTab==true?"_blank":"")" href="@mn.Link">@mn.Name</a>
                                @{
                                        List<EnF.Menu> lstSubMenu = db.Menus.Where(p => p.ParentId == mn.MenuId).ToList();
                                }
                                <ul class="sub-menu">
                                    @foreach (Menu submn in lstSubMenu)
                                        {
                                        <li>
                                            <a class="" href="@submn.Link">@submn.Name</a>
                                        </li>
                                        }


                                </ul>

                            </li>
                                        }


                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <nav class="navbar navbar-inverse menureponsive">
        <div class="container-fluid">
            <div class="navbar-header">



                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GỖ ĐẠI NGHĨA</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" title="Trang chủ" alt="trang chủ">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#subproduct">Sản phẩm</a>
                        <div class="collapse" id="subproduct">
                            <ul>
                                @foreach (ProductClass catg in lstProductClass)
                                {
                                    List<ProductGroup> lstpgp = new List<ProductGroup>();
                                    <li>
                                        <a href="#">@catg.category.CategoryName<span class="caret"></span></a>

                                        <!--menu danh sách nhóm sản phẩm-->
                                        <div class="">
                                            <ul class="sub-menu2 dropdown-menu">
                                                @foreach (ProductGroupClass prdgup in catg.lstproductGroupClass)
                                                {
                                                    <li>
                                                        <a class="" href="/Nhom-san-pham/@(ClearWordRepository.NoVNeseLower(string.IsNullOrEmpty(prdgup.productGroup.Name)?"a":prdgup.productGroup.Name )+"-"+prdgup.productGroup.ProductGroupId)">@prdgup.productGroup.Name</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                    </li>
                                }

                            </ul>
                        </div>
                    </li>

                    @foreach (Menu mn in listmenu)
                    {
                        <li class="limobile">
                            <a  data-toggle="collapse" data-target="#@mn.MenuId" class="" target="@(mn.IsNewTab==true?"_blank":"")" href="@mn.Link">@mn.Name</a>
                            @{
                                List<EnF.Menu> lstSubMenu = db.Menus.Where(p => p.ParentId == mn.MenuId).ToList();
                            }
                            <ul class="sub-menu collapse" id="@mn.MenuId">
                                @foreach (Menu submn in lstSubMenu)
                                {
                                    <li>
                                        <a class="" href="@submn.Link">@submn.Name</a>
                                    </li>
                                }

                            </ul>

                        </li>
                                }

                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>*@
            </div>
        </div>
    </nav>
  
</header>

<!-- end header -->
<!-- icon share left luon chạy -->
<div id="at4-share-left" class="at4-share addthis_32x32_style atss atss-left addthis-animated slideInLeft">
    <a href="https://www.facebook.com/gomynghedainghia/" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="https://www.google.com/maps/place/G%E1%BB%97+M%E1%BB%B9+ngh%E1%BB%87+T%C3%A2y+Nguy%C3%AAn+%C4%90%E1%BA%A1i+Ngh%C4%A9a/@16.062525,108.2016866,17z/data=!3m1!4b1!4m7!3m6!1s0x0:0xfba0e21d1bed9d01!8m2!3d16.062525!4d108.2038753!9m1!1b1" class="fa fa-google"></a>
</div>
<!-- end icon -->
<!-- slider -->
@*<div class="home-slider">

        <div class="box-img">
            <ul class="bxslider" id="boxsl">
                @foreach (ADV ad in slideListBanner)
                {
                    <li>
                        <img src="/@ad.Image" />
                    </li>
                }

            </ul>

        </div>

    </div>*@
<!-- end slider -->

<style type="text/css">
    .support {
        background: #009490;
        border-radius: 7px 0px 0px 7px;
        color: #fff;
        float: right;
        height: 50px;
        margin-top: 4px;
        width: 215px;
        max-width: 60%;
    }

        .support .phone .fa-phone-square {
            font-size: 49px;
        }

    ul.menu li {
        display: inline;
        padding: 0 12px;
    }

    .Proctmnu:hover > div {
        display: block;
        background: #FFCC4E;
    }

    .mdivc2 {
        position: absolute;
        background: #FFCC4E;
        z-index: 999;
        min-width: 214px;
        display: none;
        border: solid #DDD 1px;
        left: 0px;
        top: 100%;
    }

    #topproduct li {
        position: relative;
    }

        #topproduct li:hover > .mdivc3 {
            display: block;
        }

    .mdivc3 {
        position: absolute;
        background: #FFCC4E;
        z-index: 999;
        min-width: 214px;
        display: none;
        border: solid #DDD 1px;
        left: 99%;
        top: 5%;
    }

    .mdivc2 ul {
        padding: 0;
        margin: 0;
        /* list-style: none; */
    }

    .mdivc2 li {
        list-style: none;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        width: 100%;
        float: left;
        text-align: left;
    }

    .mlic2 {
        position: relative;
        padding: 0px;
    }

    .subcate {
        display: none;
        position: absolute;
        background: #FFF;
        z-index: 999;
        min-width: 157px;
        display: none;
        border: solid #DDD 1px;
        left: 99%;
        top: 0%;
    }

    .mdivc2 ul {
        padding: 0;
        margin: 0;
        /* list-style: none; */
    }

    .mdivc2 li {
        list-style: none;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        width: 100%;
        float: left;
        text-align: left;
    }

    #topproduct li {
        width: 179px;
        text-align: center;
        background: #e2d5a5;
        width: 100%;
    }

    .submobile-3 li {
        width: 179px;
        text-align: center;
        background: #5f4d0e;
        width: 100%;
    }

    .mdivc3-mb {
        background: #77580c;
        left: 45% !important;
        top: 99% !important;
    }

        .mdivc3-mb li {
            background: #77580c !important;
        }

    .mdivc2-mb > ul > li {
        background: #ad7f0f !important;
    }

    #subproduct > ul > li, .limobile .sub-menu li {
        padding: 5px;
        background: #25251f;
        color: white;
        font-weight: bold;
        border: 1px solid;
        cursor: pointer;
    }
    .limobile .sub-menu{
        margin-left:20px;
    }

        #subproduct > ul > li > div {
            display: none;
        }

        #subproduct > ul > li:hover div, #subproduct > ul > li .dropdown-menu {
            display: block;
        }

        


        #subproduct > ul > li .dropdown-menu {
            z-index: 9999;
            background: #70712e;
        }

    #subproduct > ul a {
        color: white;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('.bxslider').bxSlider({
            auto: true,
            autoControls: true
        });

    });

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>