@using EnF
@using Web.Repository
@using baohiem.Models
@{
    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    //Config config = db.Configs.First();
    Layout = null;
    var listmenu = db.Menus.Where(p => p.ParentId == 0 || p.ParentId == null).ToList();
    //  var listslidetop = db.ADVs.Where(p => p.Type == 1).ToList();

    List<Category> categoryList = (List<Category>)db.Categories.ToList();
    List<Product> listprodct = new List<Product>();

    List<ProductClass> lstProductClass = new List<ProductClass>();

    foreach (Category catg in categoryList)
    {
        ProductClass productClass = new ProductClass();
        productClass.category = catg;

        List<ProductGroupClass> lstProductGroupClass = new List<ProductGroupClass>();
        ProductGroupClass productGroupBlock = new ProductGroupClass();

        List<ProductGroup> lstpgp = db.ProductGroups.Where(c => c.CategoryId == catg.Id).ToList();
        foreach (ProductGroup prdgup in lstpgp)
        {
            productGroupBlock.productGroup = prdgup;

            productGroupBlock.lstProduct = db.Products.Where(p => p.ProductGroupID == prdgup.ProductGroupId).ToList();

            lstProductGroupClass.Add(productGroupBlock);
        }
        productClass.lstproductGroupClass = lstProductGroupClass;

        lstProductClass.Add(productClass);
    }


}
<!-- start header -->
<!-- header -->

<header>
    <div id="wap-header">
        <div class="wap-content">
            <div class="header-content">
                <div class="logotop">
                    <a href="/">
                        <img src="/images/logo.png">
                    </a>
                </div>
                <div class="contact-top">
                    <div class="info-company">
                        <ul>
                            <li class="header-phone">
                                <p>
                                    <span class="glyphicon glyphicon-phone"></span>
                                    0949.739.888
                                </p>
                            </li>
                            <li class="header-mail">
                                <p>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    gomynghedainghia@gmail.com
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class=" header-share">
                        <div id="at4-share" class="at4-share addthis_32x32_style atss atss-left addthis-animated slideInLeft">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-google"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="wap-menu">
            <div id="header-menu">
                <div class="col-md-4 infologo">
                    <a href="/">
                        <img src="/images/infologo.png">
                    </a>
                </div>
                <div class="col-md-8 header-menu">
                    <nav id="menu">
                        <ul>
                            <li>
                                <a class="active" href="/">Trang Chủ</a>
                            </li>
                            
                            <li>
                                <a class="" href="">Sản Phẩm</a>
                                <!--menu danh mục sản phẩm-->
                                <ul class="sub-menu">
                                    @foreach (ProductClass catg in lstProductClass)
                                    {
                                        List<ProductGroup> lstpgp = new List<ProductGroup>();
                                    <li>
                                        <a class="" href="">@catg.category.CategoryName</a>
                                        <!--menu danh sách nhóm sản phẩm-->
                                        <ul class="sub-menu2">
                                            @foreach (ProductGroupClass prdgup in catg.lstproductGroupClass)
                                                {
                                                <li><a class="" href="">@prdgup.productGroup.Name</a></li>
                                                }

                                        </ul>
                                    </li>
                                    }


                                </ul>
                            </li>

                            @foreach (Menu mn in listmenu)
                            {
                                <li>
                                    <a class="" target="@(mn.IsNewTab==true?"_blank":"")" href="@mn.Link">@mn.Name</a>
                                </li>
                            }


                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <div class="menumobi">
        <nav class="navbar menureponsive dropdown">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle dropbtn" onclick="myFunction()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="dropdown-content" id="myDropdown">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" href="/">Trang Chủ</a>
                    </li>
                   
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản Phẩm<span class="caret"></span></a>
                        <!--menu danh mục sản phẩm-->
                        <div class="mdivc2 mdivc2-mb">
                            <ul>

                                @foreach (ProductClass catg in lstProductClass)
                                {
                                    List<ProductGroup> lstpgp = new List<ProductGroup>();
                                <li>
                                    <a href="">@catg.category.CategoryName<span class="caret"></span></a>

                                    <!--menu danh sách nhóm sản phẩm-->
                                    <div class="mdivc3 mdivc3-mb">
                                        <ul class="sub-menu2 dropdown-menu">
                                            @foreach (ProductGroupClass prdgup in catg.lstproductGroupClass)
                                                {
                                                <li><a class="" href="">@prdgup.productGroup.Name</a></li>
                                                }
                                        </ul>
                                    </div>

                                </li>
                                }

                            </ul>
                        </div>
                    </li>

                  
                 @foreach (Menu mn in listmenu)
                 {
               
                    <li>
                        <a class="" target="@(mn.IsNewTab==true?"_blank":"")" href="@mn.Link">@mn.Name</a>
                    </li>
                 }
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- end header -->
<!-- icon share left luon chạy -->
<div id="at4-share-left" class="at4-share addthis_32x32_style atss atss-left addthis-animated slideInLeft">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-google"></a>
</div>
<!-- end icon -->


<style type="text/css">
    .support {
        background: #009490;
        border-radius: 7px 0px 0px 7px;
        color: #fff;
        float: right;
        height: 50px;
        margin-top: 4px;
        width: 215px;
        max-width: 60%;
    }

        .support .phone .fa-phone-square {
            font-size: 49px;
        }

    ul.menu li {
        display: inline;
        padding: 0 12px;
    }

    .Proctmnu:hover > div {
        display: block;
        background: #FFCC4E;
    }

    .mdivc2 {
        position: absolute;
        background: #FFCC4E;
        z-index: 999;
        min-width: 214px;
        display: none;
        border: solid #DDD 1px;
        left: 0px;
        top: 100%;
    }

    #topproduct li {
        position: relative;
    }

        #topproduct li:hover > .mdivc3 {
            display: block;
        }

    .mdivc3 {
        position: absolute;
        background: #FFCC4E;
        z-index: 999;
        min-width: 214px;
        display: none;
        border: solid #DDD 1px;
        left: 99%;
        top: 5%;
    }

    .mdivc2 ul {
        padding: 0;
        margin: 0;
        /* list-style: none; */
    }

    .mdivc2 li {
        list-style: none;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        width: 100%;
        float: left;
        text-align: left;
    }

    .mlic2 {
        position: relative;
        padding: 0px;
    }

    .subcate {
        display: none;
        position: absolute;
        background: #FFF;
        z-index: 999;
        min-width: 157px;
        display: none;
        border: solid #DDD 1px;
        left: 99%;
        top: 0%;
    }

    .mdivc2 ul {
        padding: 0;
        margin: 0;
        /* list-style: none; */
    }

    .mdivc2 li {
        list-style: none;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        width: 100%;
        float: left;
        text-align: left;
    }

    #topproduct li {
        width: 179px;
        text-align: center;
        background: #e2d5a5;
        width: 100%;
    }

    .submobile-3 li {
        width: 179px;
        text-align: center;
        background: #5f4d0e;
        width: 100%;
    }

    .mdivc3-mb {
        background: #77580c;
        left: 45% !important;
        top: 99% !important;
    }

        .mdivc3-mb li {
            background: #77580c !important;
        }

    .mdivc2-mb > ul > li {
        background: #ad7f0f !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('.bxslider').bxSlider({
            auto: true,
            autoControls: true
        });

     

       
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
 

    });

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>