@model IEnumerable<EnF.ProductItem>

@{
    ViewBag.Title = "Item";
}

<br />
<h3>Item sản phẩm</h3>
<div class="panel panel-primary color noneborder">
    <div class="panel-heading colortheme noneborder">
        <div class="titletable">@ViewBag.Title </div>
        <ul class="list-unstyled menu">

            <li>
                <i class="fa fa-plus-square-o"></i>
                @Html.ActionLink("Thêm mới", "Create")

            </li>



            <li>
                <a href="#" onclick="ReloadCurrentPage()">
                    <i class="fa fa-refresh"></i> Nạp lại
                </a>
            </li>



        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.text)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="/@item.Image" height="70" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.text)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                        <a href="/Admin/ProductItem/Delete/@item.Id" onclick="return ConfirmDel()">Xóa</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<script type="text/javascript">
    function ConfirmDel() {
        var rs = confirm("Chắc chắn muốn xóa");
        if (rs == false) {
            return false;
        }

    }
</script>
