@model EnF.Product
@using EnF;
@using System.Data;
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    var listProduct = (List<Product>)ViewBag.GroupList;}
<link href="~/Content/css/Cust.css" rel="stylesheet" />
<link href="~/Content/css/magiczoomplus.css" rel="stylesheet" />
<div class="col-md-12">
    <div class="col-md-3 productlist-left">
        @Html.Partial("_PartialProductList")
    </div>
    <div class="col-md-9 productlist-right">
        <div class="detail-product">
            <div class="col-md-5" id="imgPro">
                @*<img id="mainImg" src="/@Model.Image" class="MagicZoom imgLarge" />*@
                <a href="/@Model.Image" class="MagicZoom" data-options="zoomPosition: inner">
                <img src="/@Model.Image">
                </a>
                @*<div id="iconZoom">
                </div>*@
            </div>
            <div class="col-md-7 info">
                <div class="name">
                   <h2>@Model.Name</h2> 
                </div>
                <div class="detail">
                    <table>                        
                        <tr>
                            <td class="ptitle">
                                Giá:
                            </td>
                            <td>@Model.Price</td>
                           
                        </tr>
                        <tr>
                            <td class="ptitle">
                                Mã Sản Phẩm:
                            </td>
                            <td>@Model.ImageList</td>
                        </tr>
                        <tr>                          
                            <td class="ptitle">
                                Chất liệu :
                            </td>
                            <td>@Model.Material</td>
                        </tr>

                        <tr>
                            <td class="ptitle">
                                Kích Thước :
                            </td>
                            <td>@Model.Size</td>
                        </tr>
                        <tr>
                            <td class="ptitle">
                                Trạng Thái Hàng:
                            </td>
                            <td>@(Model.Status==1?"Còn hàng":"Hết hàng")</td>
                        </tr>
                    </table>
                </div>                
            </div>            
            </div>

        <div class="col-md-12 boxListImg">
            <img src="~/images/left_slide.png" class="back" />
            <div id="boxdynamic" style="left:0">
                @{List<ProductImage> listImg = (List<ProductImage>)ViewBag.listImg;
                    foreach (ProductImage proImg in listImg)
                    {
                        <div>
                            <img src="/@proImg.Image" class="" />
                        </div>
                    }
                }
            </div>
            <img src="~/images/right_slide.png" class="next" />
        </div>

        <div class="col-md-12 chitiet">
            <div class="title-chitiet">
                <h1>Chi tiết</h1>
            </div>
            <div id="noidung">
                @Html.Raw(Model.Des)
            </div>
        </div>
        <div class="cmt-facebook">
            <div class="fb-comments" data-href="http://gomynghedainghia.vn/ProductList/ProductDetail?productId=" data-numposts="5"></div>
        </div>

        @*---------*@
        <div class="showtilte" style="width:100%; float:left">
            <div class="txtshowtitle">
                <h2 style="font-size:17px">
                    Sản phẩm cùng loại
                </h2>
            </div>
        </div>

        @{List<Product> prctList = (List<Product>)ViewBag.Grouplist;
            foreach (var p in prctList)
            {
                <div class="item col-md-4" style="">
                    <div class="row">
                        <div class="img-sp">
                            <a href="/ProductList/ProductDetail?productId=@p.ProductId">
                                <img alt="@p.Name" title="@p.Name" src="/@p.Image" />
                            </a>
                            <div class="info-sp">
                                <h1 id="info-ten">Gỗ Mỹ Nghệ Đại Nghĩa</h1>
                                <h2 id="info-diachi">80 Nguyễn Tri Phương - Đà Nẵng</h2>
                            </div>
                        </div>
                        <div class="name-sp">
                            <h3 class="tensp">
                                <a href="" title="">@p.Name</a>
                            </h3>
                        </div>

                        <div class="xem-sp">
                            <div class="button">
                                <div class="chitiet">
                                    <a href="/ProductList/ProductDetail?productId=@p.ProductId">Chi Tiết</a>
                                </div>
                                <div class="goingay">
                                    <a href="">Gọi Ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/js/multizoom.js"></script>*@
<script src="~/js/magiczoomplus.js"></script>
@section scripts{

    <script type="text/javascript">
        
        $('.back').click(function () {


            var lps = $('.boxListImg > div')[0].style.left;
            lps = lps.split('p')[0] * 1;
            if (lps >= 0) {
                return;
            }
            $('.boxListImg > div')[0].style.left = (lps + 250) + "px";


        });

        $('.next').click(function () {
            var imgNum = $('.boxListImg > div >div').length;
            var imgMoveNum = imgNum - 4;

            var lps = $('.boxListImg > div')[0].style.left;
            lps = lps.split('p')[0] * 1;

            if (Math.abs(lps) >= imgMoveNum * 250) {
                return;
            }

            $('.boxListImg > div')[0].style.left = (lps - 250) + "px";
        })


        $('.boxListImg > div > div > img').click(function () {

            $('#mainImg')[0].setAttribute("src", this.src);
            //$('.imgLarge').addimagezoom().largeimage = "myimagescr";
            $('.magnifyarea > div > img')[0].setAttribute("src", this.src);

        })
    </script>


}

<style type="text/css">
    .imgLarge {
        max-height: 290px;
    }

    .boxListImg {
        position: relative;
        height: 200px;
        padding-top: 10px;
        overflow: hidden;
        /*-webkit-transition: width 2s;
            transition: width 2s;*/
    }

        .boxListImg > div {
            position: absolute;
            width: max-content;
            left: 0;
            -webkit-transition: width 2s;
            transition: left 1s;
        }

    .next {
        position: absolute;
        right: 0;
    }

    .back {
        position: absolute;
        left: 0;
        left: 14px;
        z-index: 99;
    }

    .next, .back {
        height: 40%;
        top: 30%;
        width: 50px;
        cursor: pointer;
    }

    .boxListImg > div > div {
        width: 250px;
        float: left;
    }

    .boxListImg > div img {
        width: 98%;
        cursor: pointer;
    }
</style>
