@model EnF.Product
@using EnF
@{
    ViewBag.Title = "Sửa";
    var listimage = (List<ProductImage>)ViewBag.ProductImage;

    ViewDataDictionary vdDictionaryT1 = new ViewDataDictionary();
    vdDictionaryT1.Add("ParentId", Model.ProductGroupID);
    vdDictionaryT1.Add("Level", "product");
}
 
<h2>@Html.Partial("_PartialBreakum", null, vdDictionaryT1)</h2>

@using (Html.BeginForm("Edit", "ProductDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.ProductGroupID)
        @Html.HiddenFor(model => model.ProductGroupName)
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.CategoryName)
        @Html.HiddenFor(model => model.ImageList)
        @Html.HiddenFor(model => model.Image)
        <hr />
        @Html.ValidationSummary(true)
        @Html.Hidden("ProductGroupID", Model.ProductGroupID)
        <div class="form-group">
            @Html.Label("Tên", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hình ảnh", new { @class = "control-label col-md-2" })
            <div class="col-md-5">

                <img src="/@Model.Image" height="90" />
                <input type="file" id="imagefile" name="fileUpload" />

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Giá", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Kích thước", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Size, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Chất liệu", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Material, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Material)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Trạng thái", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();

                    listItems.Add(new SelectListItem { Text = "Còn hàng", Value = "1" });
                    listItems.Add(new SelectListItem { Text = "Hết hàng", Value = "0" });
                }
                @Html.DropDownList("Status", listItems, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ảnh liên quan", new { @class = "control-label col-md-2" })
            <div id="boxListImg" class="col-md-5">
                <table id="listimg">

                    @foreach(ProductImage proImg in listimage)
                    {
                        <tr>
                            <td><img src="/@proImg.Image" height="70" /></td>
                            <td><a class="delImg" id="@proImg.Id">Xóa</a></td>
                        </tr>
                    }
                    

                </table>

                <input type="file" name="listFile0" id="files" />

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Chi tiết", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Des, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Des)
            </div>
        </div>
 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="return checkuploadfile()" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { ProductGroupID = Model.ProductGroupID })
</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryajax")*@



    <script src="~/Scripts/elfinder/jquery.popupwindow.js"></script>
    <script src="~/Scripts/elfinder/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Scripts/elfinder/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/elfinder/elfinder/js/jquery-ui-1.8.11.min.js")"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Scripts/elfinder/elfinder/css/elfinder.min.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/elfinder/elfinder/js/elfinder.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/elfinder/elfinder/js/i18n/elfinder.vi.js")"></script>


    <script>

        CKEDITOR.replace('Des', {
            language: 'vi',
            filebrowserBrowseUrl: '@Url.Action("Index", "Elfinder")',
            filebrowserImageBrowseUrl: '@Url.Action("Index", "Elfinder")?type=Images',
            filebrowserFlashBrowseUrl: '@Url.Action("Index", "Elfinder")?type=Flash',
            filebrowserUploadUrl: '/connector?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '/connector?command=QuickUpload&type=Images',
            filebrowserFlashUploadUrl: '/connector?command=QuickUpload&type=Flash',
            filebrowserWindowWidth: 900,
            filebrowserWindowHeight: 400
        });
    </script>

<script>

    var findex = 2;
    function AddInputFile() {

        $('#boxListImg').append('<input type="file" name="listFile' + findex + '" id="files" onchange="AddInputFile()" />');
        findex++;
    }

    function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    $('#boxListImg').append('<input type="file" id="files" name="listFile1" onchange="AddInputFile()" />');
  }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);


    $('.delImg').click(function (e) {
        var thiselm = this;
         $.ajax({
             cache: false,
             type: "GET",
             url: '@Url.Action("DeleteImage", "ProductDetail")',
             data: { productImgId: this.id },
             success: function (response) {
                 $(thiselm).parent().parent().remove()
                // document.getElementById('listimg').remove()
             }

         });
    })

</script>
}
 
