@model IEnumerable<EnF.Category>

@{
    ViewBag.Title = "Danh mục sản phẩm";
}

<h2>@ViewBag.Title</h2>

@*<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>*@
<div class="panel panel-primary color noneborder">
    <div class="panel-heading colortheme noneborder">
        <div class="titletable">@ViewBag.Title </div>
        <ul class="list-unstyled menu">

            <li>
                <i class="fa fa-plus-square-o"></i>
                @Html.ActionLink("Thêm mới", "Create")

            </li>



            <li>
                <a href="#" onclick="ReloadCurrentPage()">
                    <i class="fa fa-refresh"></i> Nạp lại
                </a>
            </li>



        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">

        <table id="tblXepLoai" class="table table-striped display table-bordered">
            <thead>
                <tr>
                    <th>
                        Danh mục sản phẩm
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="/Admin/ProductGroup?CategoryId=@item.Id">@item.CategoryName</a>
                            @*@Html.ActionLink(item.CategoryName, "ProductGroup", new { CategoryId = item.Id })*@
                        </td>

                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |

                            <a href="/Admin/Products/Delete/@item.Id" onclick="return ConfirmDel()">Xóa</a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
<script type="text/javascript">
    function ConfirmDel() {
        var rs = confirm("Chắc chắn muốn xóa");
        if (rs == false) {
            return false;
        }

    }

</script>

