@model IEnumerable<EnF.Category>

@{
    ViewBag.Title = "Danh mục sản phẩm";
}
<div class="admin-title">
    <h2>@ViewBag.Title</h2>
</div>

 
<div class="panel panel-primary color noneborder">
    <div class="panel-heading colortheme noneborder">
        <div class="titletable">@ViewBag.Title </div>
        <ul class="list-unstyled menu">

            <li>
                <i class="fa fa-plus-square-o"></i>
                @Html.ActionLink("Thêm mới", "Create", new { categoryId = ViewBag.categoryId })

            </li>

            <li>
                <a href="#" onclick="ReloadCurrentPage()">
                    <i class="fa fa-refresh"></i> Nạp lại
                </a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table class="table table-striped display table-bordered">
            <tr>
                <th>
                  Tên Danh mục
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Des)
                </th>*@
                <th>Hiện trang chủ</th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Admin/ProductGroup/Index?CategoryId=@item.Id">@Html.DisplayFor(modelItem => item.CategoryName)</a>            
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Des)
        </td>*@
        <td>
            <input type="checkbox" @(item.Des=="1"? "checked":"") class="cbDisplay" id="checkB_@item.Id" />
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
           
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

        </table>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $('.cbDisplay').click(function () {
            var id = this.id.split('_')[1];
            var isCheck = this.checked == true? 1: 0;
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ShowCateGory", "Categories")',
                data: { categoryId: id, isCheck: isCheck },
                success: function (response) {
                 //   $(thiselm).parent().parent().remove()
                    // document.getElementById('listimg').remove()
                }

            });

        })

    </script>

}