﻿@using EnF;
@using System.Data;
@using Web.Repository;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";

    //var listProduct = (List<Product>)ViewBag.TopProduct;
    DoGoMyNgheEntities db = new DoGoMyNgheEntities();

    List<ADV> slideList = (List<ADV>)ViewBag.Slide;

    List<Category> categoryList = (List<Category>)ViewBag.listCategory;

    var listNew1 = (List<EnF.Page>)ViewBag.ListNew1;
    var listNew2 = (List<EnF.Page>)ViewBag.ListNew2;
}
 

<!-- slider -->
<div class="home-slider">

    <div class="box-img">
        <ul class="bxslider" id="boxsl">
            @foreach (ADV ad in slideList)
            {
                <li>
                    <img src="/@ad.Image" />
                </li>
            }

        </ul>

    </div>

</div>
<!-- end slider -->
<!-- icon chính sách mua hàng -->
<div class="chinhsach">
    <ul>
        <li class="col4 item_cs">
            <a href="">
                <div class="avarta"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="info_cs">
                    <h3>MIỄN PHÍ VẬN CHUYỂN</h3>
                    <p>Tất cả đơn hàng</p>
                </div>
            </a>
        </li>
        <li class="col4 item_cs">
            <a href="">
                <div class="avarta"><i class="fa fa-headphones" aria-hidden="true"></i></div>
                <div class="info_cs">
                    <h3>HỔ TRỢ KHÁCH HÀNG</h3>
                    <p>27/7</p>
                </div>
            </a>
        </li>
        <li class="col4 item_cs">
            <a href="">
                <div class="avarta"><i class="fa fa-reply-all" aria-hidden="true"></i></div>
                <div class="info_cs">
                    <h3>DỄ DÀNG</h3>
                    <p>đổi trả</p>
                </div>
            </a>
        </li>
        <li class="col4 item_cs">
            <a href="">
                <div class="avarta"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
                <div class="info_cs">
                    <h3>THANH TOÁN</h3>
                    <p>khi nhận hàng</p>
                </div>
            </a>
        </li>
    </ul>
</div>
<!-- End Chính sách mua hàng -->
<!-- show product -->
<div class="product">
    @foreach (Category cate in categoryList)
    {
        List<ProductGroup> lstProGrp = db.ProductGroups.Where(p => p.CategoryId == cate.Id).ToList();

        int counttab = 1;
        int countdtl = 1;
        <div class="sanpham">
            <div class="title">
                <ul class="nav nav-pills">

                    @foreach (ProductGroup progrp in lstProGrp)
                {
                    if (counttab == 1)
                    {
                    <li class="active">
                        <a data-toggle="pill" href="#sanpham@(counttab)">@progrp.Name</a>
                    </li>
                        }
                        else
                        {
                    <li>
                        <a data-toggle="pill" href="#sanpham@(counttab)">@progrp.Name</a>
                    </li>
                        }

                        counttab++;
                    }

                  

                </ul>
               
            </div>

            <div class="box-sanpham tab-content">
                @foreach (ProductGroup progrp in lstProGrp)
                {
                    List<Product> lstProduct = db.Products.Where(p => p.ProductGroupID == progrp.ProductGroupId).ToList();

                <div id="sanpham@(countdtl)" class="tab-pane fade in @(countdtl==1?"active":"")">

                    @foreach (Product pro in lstProduct)
                    {
                        <div class="col-md-3 item">
                            <div class="img-sp">
                                <p>
                                    <a href="">
                                        <img src="/@pro.Image">
                                    </a>
                                </p>
                                <div class="info-sp">
                                    <h1 id="info-ten">Gỗ Mỹ Nghệ Đại Nghĩa</h1>
                                    <h2 id="info-diachi">80 Nguyễn Tri Phương - Đà Nẵng</h2>
                                </div>
                            </div>

                            <div class="name-sp">
                                <h3 class="tensp">
                                    <a href="" title="">
                                        @pro.Name
                                    </a>
                                </h3>
                            </div>

                            <div class="xem-sp">
                                <div class="button">
                                    <div class="chitiet">
                                        <a href="/ProductList/ProductDetail?productId=@pro.ProductId">Chi Tiết</a>
                                    </div>
                                    <div class="goingay">
                                        <a href="">Gọi Ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    <div id="xemthem">
                        <a href="@(lstProduct.Count>0?"/ProductList/ProductList?ProductGroupId=" +lstProduct.First().ProductGroupID :"#")">
                            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                

                    countdtl++;
                }

            </div>
        </div>
    }

 </div>

    <!-- end product -->
<button type="button" id="openPopup" style="display:none" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Gỗ Đại Nghĩa</h4>
            </div>
            <div class="modal-body">
                <img src="~/images/popupimg.jpg" style="width:100%" />
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>

    </div>
</div>


    @section Scripts {

        <script type="text/javascript">
            $(document).ready(function () {
                $("#openPopup").click();
            });
            //$(window).load(function () {
            //    //$('#mypopup').popup($('#mypopup').data());


            //});
            

        </script>
 

    }
  

