﻿@using EnF;
@using System.Data;
@using Web.Repository;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";

    //var listProduct = (List<Product>)ViewBag.TopProduct;
    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    var grouplist = (List<ProductGroup>)ViewBag.GroupList;
    var Architecproductgroup = (List<ProductGroup>)ViewBag.Architecproductgroup;
    DataTable listProduct = (DataTable)ViewData["TopProduct"];
    var listPage = (List<EnF.Page>)ViewData["ListPages"];
    var listNew1 = (List<EnF.Page>)ViewBag.ListNew1;
    var listNew2 = (List<EnF.Page>)ViewBag.ListNew2;
    


}

<!-- start slider -->
<!-- end header -->

<div class="col-md-12 boxsection productevent" style="background: rgba(76, 76, 76, 0.07); padding-top: 6%;">
    <div class="container" style="width:auto;">
        <div class="col-md-12 box-product">
            <div class="col-md-4 tab-mobi">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Các gói cước Viettel </span>
                    </div>
                    @foreach (Product pro in db.Products.ToList())
                    {
                        <div class="panel-tab">
                            <div class="block_home_right">
                                <ul>
                                    <li class="clearfix">
                                        <a class="package-name" href="">@pro.TenGoi</a>

                                        <div class="btn-register"><a href="javascript:void(0);" onclick="smsbutton(9, '@pro.DauSo', '@pro.CuPhap 0968348438')">Đăng Ký </a></div>
                                        <span>@pro.GiaCuoc</span>

                                    </li>
                                </ul>

                            </div>

                        </div>
                    }

                </div>

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- dangky-4gviettel.1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5671168710574709"
                     data-ad-slot="7029329160"
                     data-ad-format="auto"></ins>
                <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                </script>


            </div>

            <div class="col-md-8 promobi">
                @foreach (ProductGroup prgp in grouplist)
                {
                    <div class="col-lg-12 box">
                        <div class="col-lg-12 product">
                            <div class="panel panel-heading" >
                                <div  class="nameproduct" >
                                    <span> @prgp.Name</span> 
</div>
                            </div>
                            <div class="panel-product">
                                @{
                                    List<Product> listProuct = db.Products.Where(p => p.ProductGroupID == prgp.ProductGroupId).ToList();
                                    listProuct = listProuct.Take(4).ToList();

                                      }

                                @foreach (Product pro in listProuct)
                                {
                                    <div class="col-md-6 panel-body">
                                        <div class="info-package">
                                            <p><a href="/goi-cuoc/@(ClearWordRepository.NoVNeseLower(pro.TenGoi)+"-"+pro.ProductId)">@pro.TenGoi</a></p>

                                            <ul>
                                                <li><span>@pro.LuuLuong</span></li>

                                                <li>Giá cước: <span>@pro.GiaCuoc</span></li>
                                            </ul>
                                            <div class="text-center clearfix">

                                                <div class="button">
                                                    <a class="btn-register" href="javascript:void(0);" onclick="smsbutton(9, '@pro.DauSo', '@pro.CuPhap 0968348438')">Đăng Ký Ngay</a>
                                                </div>
                                                <span style="font-size: 20px;"> Hoặc Soạn Tin:</span>

                                                <div class="sms_syntax">
                                                    <span> @pro.CuPhap 0968348438 </span> gửi
                                                    <span>@pro.DauSo</span>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                }



                            </div>

                        </div>
                    </div>
                                    }






            </div>
        </div>


        <div class="col-md-12 box-tienich">
            <div class="col-md-4">

            </div>
            <div class="col-md-8 tienich-mobi">
                <div class="col-lg-12 product-utility">
                    <div class="panel-utility">
                        <div class="name-utility">
                            <span> TIỆN ÍCH VIETTEL</span>
                        </div>
                    </div>
                    <div class="panel-detail">
                        @if (listNew1 != null)
                        {
                            foreach (EnF.Page pag in listNew1)
                            {
                                <div class="col-md-6 detail-utility">
                                    <div class="col-md-12 noidung-tienich">
                                        <div class="page-item item1">
                                            <h1><a class="tieude-tienich" href="/Home/NewsDetail?pageId=@pag.PageId">@pag.Name</a></h1>
                                            <p>@pag.Recap</p>
                                            <a href="/Home/NewsDetail?pageId=@pag.PageId" class="btn-detail">Chi tiết</a>
                                        </div>
                                    </div>
                                </div>

                            }
                        }




                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-12 box-khuyenmai">

            <div class="col-md-4">

            </div>
            <div class="col-md-8 khuyenmai-mobi">
                <div class="col-md-12 khuyenmai">
                    <div class="text-khuyenmai">
                        <div class="name-khuyenmai">
                            <span> Khuyến mãi Viettel</span>
                        </div>
                    </div>
                    <div class="col-md-12 nd-khuyenmai">
                        <ul class="block-khuyenmai ">
                            @if (listNew2 != null)
                            {
                                foreach (EnF.Page pag in listNew2)
                                {
                                    <li>
                                        <img src="@pag.Image" alt="" />
                                        <a href="/Home/NewsDetail?pageId=@pag.PageId">@pag.Name </a>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {



}
<style type="text/css">

</style>

